.DS_Store
Thumbs.db

.nvm-version
node_modules
npm-debug.log
pnpm-debug.log

package-lock.json
shrinkwrap.yaml

/bin/**/svgcleaner
/bin/**/svgcleaner.exe

/build/linux.tar.gz
/build/macOS.zip
/build/windows.zip
